*
{
	box-sizing: border-box;
}

@font-face {
  font-family: "Cardinal Sharp";
  src: url(../assets/SharpCardinal.ttf) format("truetype");
}

html, body{
	font-family: "Cardinal Sharp", sans-serif;
	margin: 0%;
	height: 100%;
}

#canvas {
  display: block;
  width: auto;
  height: auto;

  background: rgb(19, 19, 19);
}

.scan_lines
{
	width: 100%;
	height: 50px;
	z-index: 10;
	background: linear-gradient(
		0deg,
		rgb(1, 111, 23) 0%,
		rgb(37, 67, 48) 50%,
		rgba(11, 56, 15, 0.638) 100%
	);
	opacity: 0.1;
	position: absolute;
	bottom: 100%;
	animation: scanline 8.5s linear infinite;
}

@keyframes scanline {
	0%
	{
		top:0
	}
	to{
		top:100%
		}
}
