*
{
	box-sizing: border-box;
}

html, body{
	margin: 0%;
	height: 100%;
}

#canvas {
  display: block;
  width: 100%;
  height: 100%;

  background: rgb(19, 19, 19);
}

/* .page_container::before
{
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0%;
	background: linear-gradient(
		to bottom,
		rgba(18, 16, 16, 0) 50%,
		rgba(16, 15, 15, 0.549) 50%
	);
	background-size: 100% 4px;
	z-index: -1;
	pointer-events: none;
} */

.scan_lines
{
	width: 100%;
	height: 50px;
	z-index: 10;
	background: linear-gradient(
		0deg,
		rgb(1, 111, 23) 0%,
		rgb(37, 67, 48) 50%,
		rgba(11, 56, 15, 0.638) 100%
	);
	opacity: 0.1;
	position: absolute;
	bottom: 100%;
	animation: scanline 8.5s linear infinite;
}

@keyframes scanline {
	0%
	{
		top:0
	}
	to{
		top:100%
		}
}
